.process {
  color: var(--cream);
  font-size: 1.25vw;
}

.process__title {
  background-color: var(--jade);
  box-shadow: var(--box-shadow-large) var(--neutralpink);
  border-radius: 150px;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  letter-spacing: 7px;
  padding: 1vw 2.2vw;
  position: relative;
  max-width: 16vw;
  left: 20vw;
  top: 0.7vw;
  justify-content: center;
}

.process__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}

.process__detail {
  border-radius: 50px;
  display: flex;
  align-items: flex-start;
  background-color: var(--pink);
  max-width: 40vw;
  flex-direction: column;
  padding: 3.4vw;
}

.process__detail-title {
  margin-bottom: 1vw;
  font-size: 1.3vw;
  letter-spacing: 5px;
}

.process__detail-1 {
  background-color: var(--purple);
  box-shadow: var(--box-shadow-large) var(--orange);
  margin-left: 17.36vw;
}

.process__detail-2 {
  background-color: var(--olive);
  box-shadow: var(--box-shadow-large) var(--pink);
  margin-right: 17.36vw;
}

.process__detail-3 {
  background-color: var(--apricot);
  box-shadow: var(--box-shadow-large) var(--jade);
  margin-left: 14vw;
}

.ss__title {
  background-color: var(--jade);
  box-shadow: var(--box-shadow-large) var(--neutralpink);
  border-radius: 150px;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  letter-spacing: 7px;
  padding: 1vw 2.2vw;
  position: relative;
  max-width: 28vw;
  left: 14vw;
  margin-top: 4vw;
  justify-content: center;
}

.ss__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--jade);
  margin-bottom: 3vw;
}

.ss__detail {
  background-color: var(--cream);
  border-style: solid;
  border-width: 3px;
  border-color: var(--jade);
  box-shadow: var(--box-shadow-large) var(--jade);
  border-radius: 35px;
  flex-wrap: wrap;
  padding: 3vw;
  width: 50vw;
  text-align: center;
}
