@font-face {
  font-family: "Satoshi Bold";
  src: url(../../vendor/Satoshi-Bold.ttf);
}

@font-face {
  font-family: "Satoshi Bold Italic";
  src: url(../../vendor/Satoshi-BoldItalic.ttf);
}

@font-face {
  font-family: "Satoshi Medium";
  src: url(../../vendor/Satoshi-Medium.ttf);
}

@font-face {
  font-family: "Satoshi Medium Italic";
  src: url(../../vendor/Satoshi-MediumItalic.ttf);
}

button,
input[type="button"],
input[type="submit"] {
  border-radius: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--jade);
  background-color: var(--cream);
  color: var(--jade);
  box-shadow: 0.5vw 0.5vw var(--jade);
  margin-left: 2vw;
  font-family: "Satoshi Bold";
  font-size: 0.75vw;
  letter-spacing: 3px;
  height: 2.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.app {
  font-family: "Satoshi Bold";
  font-size: 1.3vw;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
}

.footer__container {
  position: fixed;
  bottom: 0;
}
