@keyframes buttonPressMain {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0.75vw) translateY(0.75vw);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn ease 2.5s 1 forwards;
}

.buttonPress {
  animation: buttonPressMain ease 0.25s 1 forwards;
}

.main {
  display: flex;
  margin-top: 12vw;
  justify-content: center;
  margin-bottom: 10vw;
}

.main__info {
  font-size: 2vw;
  color: var(--apricot);
  max-width: 48.6vw;
  align-self: center;
  padding-right: 30px;
}

.highlightedword {
  color: var(--apricotshade);
}

.main__buttons {
  display: flex;
  flex-direction: column;
}

.main__button {
  width: 14vw;
  border-style: none;
  color: var(--cream);
  font-size: 1vw;
  margin-left: 0px;
}

.main__different_button {
  height: 6.5vw;
  margin-bottom: 32px;
  background-color: var(--orange);
  box-shadow: var(--box-shadow-large) var(--hotpink);
}

.main__explore_jobs_button {
  height: 4vw;
  background-color: var(--jade);
  box-shadow: var(--box-shadow-large) var(--lime);
}

.clickButtonMain {
  box-shadow: none;
  transition: box-shadow 0.25s;
}
