@keyframes footerButtonPress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0.4vw) translateY(0.4vw);
  }
}

.footerButtonPress {
  animation: footerButtonPress ease 0.25s 1 forwards;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
  right: 0;
  background-color: var(--cream);
}

.footer__fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__buttons {
  margin: 10px 20px 25px;
}

.footer_button {
  border-style: none;
  color: var(--cream);
  letter-spacing: 2px;
  height: 2.5vw;
  margin-left: 1.4vw;
}

.footer_contact-button {
  background-color: var(--pink);
  box-shadow: var(--box-shadow-small) var(--lime);
}

.footer_about-button {
  background-color: var(--darkgreen);
  box-shadow: var(--box-shadow-small) var(--purple);
}

.footer_transparency-button {
  background-color: var(--apricot);
  box-shadow: var(--box-shadow-small) var(--olive);
}

.footer_copyright {
  font-size: 12px;
  margin: 0px 20px 10px;
  align-self: center;
}

.clickButton {
  box-shadow: none;
  transition: 0.25s;
}
